* {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
}

body {
    background: hsl(0, 0%, 2%);
    color: white;
    display: flex;
    flex-direction: column;
}

.grid__button {
    display:block;
    margin: 10px auto 10px;
    padding: 4px 8px;
    border: none;
}

.grid__container {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    border: 4px solid hsl(0, 10%, 30%);
    border-radius: 8px;
}

.grid__row {
    border: 1px solid hsl(0, 0%, 80%);
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.grid__column {
    border: 1px solid hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}